.login-container {
    background-image: url('https://imgs.search.brave.com/mPTc7fMhuva1AUQbPFKKJtLd_lr_BBZdIRPv2gNTrko/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvcHJl/dmlld3MvMDAxLzI0/OS80Nzgvb3JpZ2lu/YWwvc2NpZW5jZS1l/ZHVjYXRpb24tYW5k/LWxhYm9yYXRvcnkt/YmFubmVyLXRlbXBs/YXRlLXZlY3Rvci5q/cGc');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}